@media screen and (min-width: 1400px) and (max-width: 1599px) {
    .smart-securety-wrpper {
        padding-top: 86px;
        padding-bottom: 105px;
    }
}

/*=============================
Extra Large Screen - Others
===============================*/
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .feature-area {
        padding-top: 0;
    }
    #feature-row {
        padding: 70px 0;
    }

    .install-guidline {
        padding: 90px 0;
    }

    .book-consultation {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    .discover-wrpper {
        padding: 90px 0;
        border-radius: 130px;
    }

    .question-community {
        padding-top: 90px;
    }

    .smart-securety-wrpper {
        padding-top: 86px;
        padding-bottom: 105px;
    }
    .explore-row {
        padding-top: 85px;
    }
}

/*========================
Large Screen - Leptop
==========================*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area::after {
        top: -50px;
    }
    .hero-main-title h1 {
        font-size: 60px;
        margin-top: 25px;
        margin-bottom: 45px;
    }

    #play-pause {
        height: 520px;
    }

    .feature-area {
        padding-top: 0;
    }
    #feature-row {
        padding: 70px 0;
        row-gap: 40px;
    }
    .single-feature {
        padding: 36px 15px 51px 15px;
    }

    .install-guidline {
        padding: 75px 0;
    }
    .guideline-desc {
        padding-left: 25px;
    }
    #video-tutorial {
        height: 330px;
    }

    .single-slide {
        height: 475px;
    }
    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 40px !important;
    }

    .software-area {
        padding-top: 80px;
    }
    .gaps {
        --bs-gutter-x: 3rem;
        row-gap: 40px;
    }

    .book-consultation {
        padding-top: 0px;
        padding-bottom: 30px;
    }
    .book-consultation-wrpper h2 {
        font-size: 65px;
    }

    .discover-wrpper {
        padding: 55px 0;
        border-radius: 95px;
    }
    .discover-cnt-wrpper h2 {
        font-size: 55px;
    }

    .question-community {
        padding-top: 90px;
    }
    .question-community-top h2 {
        margin-bottom: 20px;
    }
    .question-community-top p {
        margin-bottom: 26px;
    }
    .accordion-wrpper {
        padding-top: 70px;
    }

    .smart-securety-wrpper {
        padding-top: 30px;
        padding-bottom: 70px;
    }
    .explore-row {
        padding-top: 85px;
    }
    .explore-title h4 {
        font-size: 28px;
        line-height: 120%;
    }
    .smart-top h2 {
        padding-bottom: 62px;
    }
}

/*=========================
Medium Screen - Tablate
=========================*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .header-area::after {
        top: -80px;
    }
    .header-sub-title h4 {
        font-size: 40px;
    }
    .hero-main-title h1 {
        font-size: 50px;
        margin-top: 15px;
        margin-bottom: 35px;
    }

    .video-player {
        padding-top: 0px;
    }
    #play-pause {
        height: 420px;
    }

    .feature-area {
        padding-top: 0;
    }
    #feature-row {
        padding: 70px 0;
        row-gap: 0px;
    }
    .single-feature {
        padding: 36px 15px 51px 15px;
    }

    .install-guidline {
        padding: 55px 0;
    }
    .guideline-desc {
        padding-left: 10px;
    }
    #video-tutorial {
        height: 280px;
    }
    .feature-wrpper h2 {
        margin-bottom: 20px;
    }

    .single-slide {
        height: 400px;
    }
    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 30px !important;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 20px;
        height: 20px;
    }

    .software-area {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .gaps {
        --bs-gutter-x: 1.5rem;
        row-gap: 25px;
    }
    .software-title h2 {
        margin-bottom: 20px;
    }

    .book-consultation {
        padding-top: 0px;
        padding-bottom: 30px;
    }
    .book-consultation-wrpper h2 {
        font-size: 45px;
    }

    .discover-wrpper {
        padding: 40px 0;
        border-radius: 60px;
    }
    .discover-cnt-wrpper h2 {
        font-size: 49px;
    }

    .question-community {
        padding: 70px 0;
    }
    .question-community-top h2 {
        margin-bottom: 20px;
    }
    .question-community-top p {
        margin-bottom: 26px;
    }
    .accordion-wrpper {
        padding-top: 50px;
    }
    .accordion-container .accordion-title p {
        font-size: 22px;
    }

    .smart-securety-wrpper {
        padding-top: 0;
        padding-bottom: 40px;
    }
    .explore-row {
        padding-top: 35px;
    }
    .explore-title h4 {
        font-size: 28px;
        line-height: 120%;
        text-align: center;
        padding-bottom: 30px;
    }
    .smart-top h2 {
        padding-bottom: 42px;
        font-size: 44px;
    }
    .smart-top a {
        max-width: 510px;
        font-size: 35px;
        border-radius: 20px;
    }
}

/*=====================
Small Screen - Mobile
=======================*/
@media screen and (min-width: 576px) and (max-width: 767px) {
    .header-area::after {
        height: 37% !important;
    }
    .header-sub-title h4 {
        font-size: 30px;
    }
    .hero-main-title h1 {
        font-size: 36px;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    #header-title {
        padding-top: 60px;
    }
    .header-wrpper {
        padding-bottom: 60px;
    }

    .video-player {
        padding-top: 0px;
    }
    #play-pause {
        height: 310px;
    }
    #play-pause::after {
        width: 70px;
        height: 70px;
    }

    .feature-area {
        padding-top: 0;
    }
    #feature-row {
        padding: 35px 0;
        row-gap: 25px;
    }
    .feature-wrpper h2 {
        margin-bottom: 25px;
    }
    .single-feature {
        padding: 36px 15px 51px 15px;
    }

    .install-guidline {
        padding: 45px 0;
    }
    .guideline-desc {
        padding-left: 0px;
        padding-top: 25px;
    }
    #video-tutorial {
        height: 280px;
    }
    .feature-wrpper h2 {
        margin-bottom: 20px;
    }

    .camera-option-desc h3 {
        margin-bottom: 20px;
    }
    .camera-option-list {
        padding-left: 0;
        padding-top: 30px;
    }
    .camera-options {
        padding-bottom: 55px;
    }

    .single-slide {
        height: 310px;
    }
    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 20px !important;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 20px;
        height: 20px;
    }

    .software-area {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .software-post {
        padding-top: 30px;
    }
    .gaps {
        --bs-gutter-x: 0rem;
        row-gap: 25px;
    }
    .software-title h2 {
        margin-bottom: 20px;
    }

    .book-consultation {
        padding-top: 0px;
        padding-bottom: 30px;
    }
    .book-consultation-wrpper h2 {
        font-size: 35px;
    }

    .discover-wrpper {
        padding: 30px 30px;
        border-radius: 40px;
    }
    .discover-cnt-wrpper h2 {
        font-size: 36px;
    }

    .question-community {
        padding: 50px 0;
    }
    .question-community-top h2 {
        margin-bottom: 20px;
    }
    .question-community-top p {
        margin-bottom: 26px;
    }
    .accordion-wrpper {
        padding-top: 50px;
    }
    .accordion-container .accordion-title p {
        font-size: 22px;
    }

    .smart-securety-wrpper {
        padding-top: 0;
        padding-bottom: 40px;
    }
    .explore-row {
        padding-top: 35px;
    }
    .explore-title h4 {
        font-size: 28px;
        line-height: 120%;
        text-align: center;
        padding-bottom: 30px;
    }
    .smart-top h2 {
        padding-bottom: 30px;
        font-size: 33px;
    }
    .smart-top a {
        max-width: 360px;
        font-size: 26px;
        border-radius: 16px;
        padding: 10px 19px;
    }
    .smart-top a img {
        width: 25px;
    }

    .footer-bottom {
        padding-bottom: 20px;
    }
}

/*===============================
Xtra Small Screen - Small Mobile
=================================*/
@media screen and (max-width: 575px) {
    .header-area::after {
        height: 37% !important;
    }
    .header-sub-title h4 {
        font-size: 25px;
    }
    .hero-main-title h1 {
        font-size: 30px;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    #header-title {
        padding-top: 40px;
    }
    .header-wrpper {
        padding-bottom: 35px;
        padding-top: 15px;
    }

    .video-player {
        padding-top: 20px;
    }
    #play-pause,
    #video-tutorial {
        height: 230px;
    }
    #play-pause::after,
    #video-tutorial::after {
        width: 60px;
        height: 60px;
    }
    #play-pause::before,
    #video-tutorial::before {
        width: 15px;
        height: 20px;
    }

    .feature-area {
        padding-top: 0;
    }
    #feature-row {
        padding: 35px 0;
        row-gap: 25px;
    }
    .single-feature {
        padding: 36px 15px 51px 15px;
    }
    .feature-wrpper h2 {
        font-size: 43.188px;
        margin-bottom: 15px;
    }
    .feature-img {
        margin-bottom: 40px;
    }

    .install-guidline {
        padding: 30px 0;
    }
    .guideline-desc {
        padding-left: 0px;
        padding-top: 25px;
    }
    .feature-wrpper h2 {
        margin-bottom: 10px;
    }
    .installation-area .feature-wrpper h2 {
        font-size: 37px;
    }
    .feature-wrpper p {
        font-size: 17px;
    }

    .camera-option-desc h3 {
        margin-bottom: 20px;
    }
    .camera-option-list {
        padding-left: 0px;
        padding-top: 30px;
    }
    .camera-options {
        padding-bottom: 55px;
    }

    .single-slide {
        height: 250px;
    }
    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 20px !important;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 15px;
        height: 15px;
    }
    .owl-theme .owl-dots .owl-dot.active span {
        width: 45px;
    }

    .software-area {
        padding: 30px 0;
    }
    .software-post {
        padding-top: 30px;
    }
    .gaps {
        --bs-gutter-x: 0rem;
        row-gap: 20px;
    }
    .software-title h2 {
        margin-bottom: 10px;
    }

    .book-consultation {
        padding-top: 0px;
        padding-bottom: 30px;
    }
    .book-consultation-wrpper h2 {
        font-size: 27px;
    }

    .discover-wrpper {
        padding: 30px 30px;
        border-radius: 40px;
    }
    .discover-cnt-wrpper h2 {
        font-size: 28px;
    }
    .discover-cnt-wrpper p {
        font-size: 17px;
    }
    .discover-cnt-wrpper {
        row-gap: 15px;
    }

    .question-community {
        padding: 30px 0;
    }
    .question-community-top h2 {
        margin-bottom: 10px;
        font-size: 30px;
    }
    .question-community-top p {
        margin-bottom: 20px;
    }
    .accordion-wrpper {
        padding-top: 30px;
    }
    .single-accordion-item {
        padding: 18px 20px;
    }
    .accordion-container .accordion-title p {
        font-size: 18px;
    }
    .accordion-content p {
        padding-top: 18px;
    }
    #accordion {
        row-gap: 12px;
    }

    .smart-securety-wrpper {
        padding-top: 0;
        padding-bottom: 40px;
    }
    .explore-row {
        padding-top: 25px;
    }
    .explore-title h4 {
        font-size: 23px;
        line-height: 120%;
        text-align: center;
        padding-bottom: 25px;
    }
    .smart-top h2 {
        padding-bottom: 30px;
        font-size: 22px;
    }
    .smart-top a {
        max-width: 303px;
        font-size: 21px;
        border-radius: 16px;
        padding: 10px 15px;
    }
    .smart-top a img {
        width: 25px;
    }
    .explore-list ul {
        flex-direction: column;
        row-gap: 16px;
    }
    .explore-list ul li {
        width: 100%;
    }

    .footer-bottom {
        padding-bottom: 20px;
    }

    .copy-right p {
        text-align: center;
        padding-bottom: 20px;
    }

    .copy-right p br {
        display: none;
    }
    .social-list {
        justify-content: center;
    }
}
